body, html{
    padding:0;
    margin:0;
}
.navbar1{
    color:white;
    background-color: black;
    height: 3rem;
    width:100%;
}
li{
    display:inline;

}
#one, #two, #three, #four{
    margin: 3%;
    cursor: pointer;
    
}

#two, #three, #four{
    margin-left:10%;
}
#one{
font-weight: 800;
}

.fa-plus{
    color:blue;
    
}

@media only screen and (max-width:780px){
    ul{
        display:none;
    }
    .fa-plus-circle{
        color:blue;
    }
}
@media only screen and (min-width:781px){
    .fa-plus-circle{
        display:none;
    }
}
