body, html{
    padding:0;
    margin:0;
}
.navbar1{
    color:white;
    background-color: #808080;
    height: 3rem;
}
li{
    display:inline;

}
#one, #two, #three, #four{
    margin: 3%;
    cursor: pointer;
    
}

#two, #three, #four{
    margin-left:12%;
}
#one{
font-weight: 800;
}