    <div class="row">
        <div class="col-md-6">
            <h1>Quotes</h1>

            <div class="quotes">
                <ul>
                    <div  *ngFor = 'let quote of quotes; let i = index' >
                        <li> {{quote.name}}</li>
                        
                            <button class="btn btn-warning" (click) = 'quoteDetails(i)'>Details</button>
                            
                            <app-quote-details *ngIf = 'quote.showQuotes' [quote]= 'quote' (isComplete) = 'deleteQuote($event, i)'></app-quote-details>
                        
                    </div>
                
                </ul>
            </div>
            
</div>            
<div class="col-md-5">

        <app-quote-form></app-quote-form>

</div>
    </div>    
        
