
<h3>New Quote</h3>
<form id="form">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" required class="form-control" id="quote"/>
    </div>
    <div class="form-group">
        <label for="Quote">Quote</label>
        <input type="text" required class="form-control" id="quote"/>
    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        <input type="text" required class="form-control" id="quote"/>
    </div>
    <button type="button" class="btn btn-success">Post</button>
</form>